.navbar{
    height: 60px;
    position: sticky;
    background-color:  rgb(32, 36, 41);
}

.navbar a{
    font-size: 25px;
    line-height: 60px;
    text-decoration: none;
}

.navbar a:hover{
    text-decoration: none;
}


a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .navbar{
        height: 50px;
    }
    .navbar a{
        font-size: 20px;
        line-height: 40px;
    }
    
}